{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Codesafe</h1>
  </div>
</div>

<div class="container">
  <p>Codesafe is a computer science (CS) education platform focused on teaching concepts and skills relevant to 
    software engineering (SE) and software security, with the goal of also driving upskilling and reskilling for 
    individuals looking to break into the tech industry or learn how to develop software and scripts for their 
    respective professions. We also aim to explore the use of AI and LLMs within CS and SE, specifically on the student 
    and instructor sides, as well as code comprehension skills in the era of LLMs. Additionally, we seek to 
    teach real-world software security, safety, and reliability. Codesafe is currently under active research & development, 
    so any feedback and participation in its research activities would be greatly appreciated!
  
  <p>Codesafe is heavily inspired by <a href="https://pwn.college">pwn.college</a>, a CS education platform focused 
    on 'core cybersecurity concepts', which in turn draws inspiration from "capture-the-flag" (CTF) challenges in 
    cybersecurity. We aim to apply the CTF concept to create challenges that are grounded in software engineering 
    experience, resulting in a scenario-driven, gamified learning experience that can be delivered at scale.

  <p>If you have comments, suggestions, or feedback outside of the regular research feedback forms, 
    please email <a href="mailto:skngo1@uci.edu">skngo1@uci.edu</a>. We appreciate any and all thoughts as we aim to
    advance CS education research!

  <p><br><br>

  <h2>Recent Updates</h2>
  <h3>2025-05-28</h3>
  <p>The challenges, platform, and even infrastructure behind Codesafe is always changing and evolving! Please note that at this time, Codesafe is not considered to be a 
		stable live service. With regards to registration, this means that your challenge progress may NOT be saved and your accounts could be
		wiped (especially for our first few field tests as we create a stable process).</p>

  
    <p><br><br>


  <h2>Available Modules</h2>

  {{ dojo_grid(categorized_dojos["course"], dojo_container_counts) }}

  {% if categorized_dojos["member"] %}
  <p><br><br>
  <h2>Private Dojos You've Joined &mdash; Keep Hacking!</h2>
  <p>These are the private dojos that have been shared with you.

  {{ dojo_grid(categorized_dojos["member"], dojo_container_counts) }}

  To join a private dojo, ask its creator to send you an invite link!
  {% endif %}

  <p><br><br>
  <h2>Your Own Dojos</h2>
  {{ dojo_grid(categorized_dojos["admin"], dojo_container_counts, create_icon=true) }}

  <!-- <p>Want to add your dojo to the fray? <a href="/dojos/create"><b>Create it here</b></a>! -->





  <p><br><br>
  <h2><a name="greetz"></a>Acknowledgements</h2>
  <p> The current team behind Codesafe is being led by <a href="https://stengos.github.io/">Steven Ngo</a>,
    and is comprised of <a href="https://jgarcia.ics.uci.edu/">Dr. Joshua Garcia</a> and <a href="https://jayala-29.github.io/">Jessy Ayala</a>.

  <p>Codesafe is currently powered by pwn.college's <a href="https://github.com/pwncollege/dojo">DOJO</a> infrastructure, which you can best experience at <a href="https://pwn.college/">pwn.college</a>.
    All credit for the DOJO infrastructure and the conceptualization behind it goes to all those listed in the 
    "Greetz" section of their website and to all those listed as contributors on their repos. 
  
  <p>pwn.college is maintained by a team of faculty and students at Arizona State University and used primarily 
    in their cybersecurity courses. All of their course materials and corresponding challenges are available on pwn.college, 
    so go check it out for hands-on cybersecurity and hacking!

    <p><br><br>
    
  <h2>Research Authorization</h2>
  <p>Codesafe's human-subjects research is done with approval by the University of California, Irvine Institutional Review Board (UCI IRB). 
    The scope of our intended research falls under the risk category of "Less than Minimal Risk (Exempt)". 
    You can view our Study Information Sheet <a href="https://drive.google.com/file/d/1rDPoy41EOowCj5d7-_TxeNaKo5OzFcX4/view?usp=drive_link">here</a> 
    and our New Study Approval Letter <a href="https://drive.google.com/file/d/19SdLzWvWPUefz9BQHUAvMWLbZdPDeOQ7/view?usp=drive_link">here</a>.


  <p><br><br>
  <h2>Resource Index</h2>

  <div class="container">
    <div class="row text-center">
      <!-- <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://github.com/pwncollege">
            <i class="fab fa-github fa-7x"></i>
            <figcaption>Open Source on<br>GitHub</figcaption>
          </a>
        </figure>
      </div> -->
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="mailto:skngo1@uci.edu">
            <i class="fas fa-envelope fa-7x"></i>
            <figcaption>Contact us via<br>Email</figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
