{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Codesafe</h1>
  </div>
</div>

<div class="container">
  <p>Welcome to Codesafe! Codesafe is a computer science education platform with a focus on teaching concepts and
    skills relevant to software engineering and software security, with the intent to also drive upskilling/reskilling
    for anyone looking to break into the tech industry or at least learn how to develop software and scripts for 
    their respective professions. Codesafe is currently under active research & development, so any feedback and
    participation in its research activities would be greatly appreciated!
  
  <p>This platform is heavily inspired by <a href="https://pwn.college">pwn.college</a>, and its behind-the-scenes is a fork
    off of their <a href="https://github.com/pwncollege/dojo">DOJO</a> infrastructure, which in turn is heavily inspired by
    "capture-the-flag" (CTF) challenges in the field of cybersecurity. We aim to take the CTF concept to create 
    challenges that are grounded in the software engineering experience, creating a scenario-driven, gamified 
    learning experience that can be delivered at scale.

  <p>If you have comments, suggestions, or feedback, please email <a href="mailto:skngo1@uci.edu">skngo1@uci.edu</a>.

  <p><br><br>


  <h2>Available Modules</h2>

  {{ dojo_grid(categorized_dojos["course"], dojo_container_counts) }}

  {% if categorized_dojos["member"] %}
  <p><br><br>
  <h2>Private Dojos You've Joined &mdash; Keep Hacking!</h2>
  <p>These are the private dojos that have been shared with you.

  {{ dojo_grid(categorized_dojos["member"], dojo_container_counts) }}

  To join a private dojo, ask its creator to send you an invite link!
  {% endif %}

  <p><br><br>
  <h2>Your Own Dojos</h2>
  {{ dojo_grid(categorized_dojos["admin"], dojo_container_counts, create_icon=true) }}

  <p>Want to add your dojo to the fray? <a href="/dojos/create"><b>Create it here</b></a>!





  <p><br><br>
  <h2><a name="greetz"></a>Acknowledgements</h2>
  <p> The current team behind Codesafe is being led by <a href="https://www.linkedin.com/in/steven-ngo-291a31167/">Steven Ngo</a>,
    and is comprised of <a href="https://jgarcia.ics.uci.edu/">Dr. Joshua Garcia</a> and <a href="https://www.linkedin.com/in/jessy-ayala/">Jessy Ayala</a>.

  <p>Codesafe is currently powered by pwn.college's <a href="https://github.com/pwncollege/dojo">DOJO</a> infrastructure, which you can best experience at <a href="https://pwn.college/">pwn.college</a>.
    All credit for the DOJO infrastructure and the conceptualization behind it goes to all those listed in the 
    "Greetz" section of their website and to all those listed as contributors on their repos. 
  
  <p>pwn.college is maintained by a team of faculty and students at Arizona State University and used primarily 
    in their cybersecurity courses. All of their course materials and corresponding challenges are available on pwn.college, 
    so go check it out for hands-on cybersecurity and hacking!


  <p><br><br>
  <h2>Resource Index</h2>

  <div class="container">
    <div class="row text-center">
      <!-- <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://github.com/pwncollege">
            <i class="fab fa-github fa-7x"></i>
            <figcaption>Open Source on<br>GitHub</figcaption>
          </a>
        </figure>
      </div> -->
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="mailto:skngo1@uci.edu">
            <i class="fas fa-envelope fa-7x"></i>
            <figcaption>Contact us via<br>Email</figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
